.skill {
  padding: 0 0 50px 0;
  position: relative;
  color: #ffffff;
}
.skill-bx {
  background: #000000;
  /* border-radius: 64px; */
  text-align: center;
  padding: 60px 50px;
  /* margin-top: -30px; */
}
.skill h2 {
	font-size: 45px;
	font-weight: 700;
    color: azure;
}

.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
  font-size: x-large;
}
.skill-slider .item img {
  width: 58%;
  margin: 0 auto 15px auto;
}
.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}
.item img h5{
    color: rgb(255, 255, 255);
}



